.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
}

.input-group input {
  width: 200px;
}
.tag1 {
  margin-bottom: 5px;
}
.tag2 {
  margin-top: 5px;
}
